<app-dashboard></app-dashboard>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Add Teacher Data</h3><br>
                <form #login="ngForm" [formGroup]="teacherForm" (ngSubmit)="onSubmit()"> 
      
                    <label for="name">Enter Name:</label> &nbsp;
                    <input type="text" placeholder="Enter Teacher Name" formControlName="tname"><br><br>
                    <label for="uniqueid">Enter UniqueId:</label> &nbsp;
                    <input type="text" placeholder="Enter Unique ID"  formControlName="uniqueid"><br><br>
                    <label for="address">Enter Address:</label> &nbsp;
                    <input type="text" placeholder="Enter Address"  formControlName="address"><br><br>
                    <label for="experience">Enter Experience:</label> &nbsp;
                    <input type="text" placeholder="Enter Experience"  formControlName="experience"><br><br>
                    <label for="qualification">Enter Qualification:</label> &nbsp;
                    <input type="text" placeholder="Enter Qualification"  formControlName="qualification"><br><br>
                    <label for="contact">Enter contact Number:</label> &nbsp;
                    <input type="text" placeholder="Enter Contact Number"  formControlName="contact"><br><br>
                    <label for="salary">Enter Salary:</label> &nbsp;
                    <input type="text" placeholder="Enter Salary"  formControlName="salary"><br><br>
                    
                    <button type="submit" class="btn btn-primary">Create </button>
                </form>
        </div>
    </div>
</div>
