<app-dashboard></app-dashboard>
<div class="viewdata">
  <button type="button" class="btn btn-outline-primary" (click)="onView()">Get Value</button> <br><br>
  <form>
    <div class="search">
        <label>
            Qualification:
            <input type="text" [formControl]="filterQualification">&nbsp;
        </label>
        <label class="exp">
            Experience:
            <input type="text" [formControl]="filterExperience">
        </label>
        <button class="searchbtn" type="submit" (click)="onView()">Search</button>
    </div><br>
  </form>


    <table border="1" class="table" *ngIf="isClicked">
        <tr>
            <th>Unique ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Experience</th>
            <th>Qualification</th>
            <th>Phone Number</th>
            <th>Salary</th>
        </tr>

        <tr *ngFor="let value of teacherArray">
            <td>{{value.uniqueID}}</td> 
            <td>{{value.Name}}</td>
            <td>{{value.Adress}}</td>
            <td>{{value.Experience}}</td>
            <td>{{value.Qualification}}</td>
            <td>{{value.ContactNo}}</td>
            <td>{{value.Salary}}</td>

            <input type="button" class="btn btn-link" value="Delete" (click)="onDelete(value.Tid)">

            <input type="button" value="Update" class="btn btn-link" (click)="onUpdate(value.Tid)">

        </tr>
        

    </table><br><br>

    <div class="updateform" *ngIf="UpdateField && dbLength">
        <form> 
            <div *ngIf="updatePage">
                <label for="name"> Name:</label> &nbsp;
                <input type="text"  [formControl]="tname" value="{{tname.value}}"><br><br>
                <label for="uniqueid"> Unique Id:</label> &nbsp;
                <input type="text"  [formControl]="uniqueid" value="{{uniqueid.value}}"><br><br>
                <label for="address"> Address:</label> &nbsp;
                <input type="text" [formControl]="address" value="{{address.value}}"><br><br>
                <label for="experience"> Experience:</label> &nbsp;
                <input type="text" [formControl]="experience" value="{{experience.value}}"><br><br>
                <label for="qualification"> Qualification:</label> &nbsp;
                <input type="text" [formControl]="qualification" value="{{qualification.value}}"><br><br>
                <label for="contact"> contact Number:</label> &nbsp;
                <input type="text" [formControl]="contact" value="{{contact.value}}"><br><br>
                <label for="salary"> Salary:</label> &nbsp;
                <input type="text" [formControl]="salary" value="{{salary.value}}"><br><br>
        
                <button type="submit" class="btn btn-primary" (click)="updateValue()">Update Value </button>
            </div>
            
        
        </form>
    </div>
</div>
